#btnAddDockingStationMap{
    -fx-background-color: transparent;
}

#btnAddDockingStationMap:hover{
    -fx-background-color: #CEE3F6;
}

#btnEditDockingStationMap{
    -fx-background-color: transparent;
}

#btnEditDockingStationMap:hover{
    -fx-background-color: #CEE3F6;
}

#rentalsTitle{
    -fx-font-size: 30;
 }

#economyTitle{
    -fx-font-size: 30;
}

#generalTitle{
    -fx-font-size: 30;
}

#bicycleSettingsLabel{
    -fx-font-size: 30;
}

#addNewTypeLabel{
    -fx-font-size: 17;
}

#newTypePriceLabel{
    -fx-font-size: 17;
}

#typeVbox{
    -fx-padding: 40;
}

#sideMenu{
    -fx-background-color: #61a2b1;
}

Button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#sideMenu Button{
    -fx-background-color: #61a2b1;
    -fx-effect: normal;
}

#sideMenu Button:hover{
    -fx-background-color: #2A5058;
}

AnchorPane{
    -fx-background-color: #F1FFFF;
}

#bicyclesDockedListLabel{
    -fx-text-fill: #2A5058;
    -fx-font-size: 16;
}

#repairsRegisteredListLabel{
    -fx-text-fill: #2A5058;
    -fx-font-size: 16;
}

#BicycleHeading{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}


.default-color0.chart-bar { -fx-bar-fill: #2B60DE; }
.default-color1.chart-bar { -fx-bar-fill: #F22613; }
.default-color2.chart-bar { -fx-bar-fill: #00FF3E; }

